body {
	font-family: 'Lato', sans-serif;
}

@media only screen and (max-width: 991px) {
    .icon-image {
		display: block;
    	margin-left: auto;
		margin-right: auto;
	}

	.name {
		text-align: center;
	}

	.subtitle {
		text-align: center;
	}
}

.icon-image {
	display: block;
	padding: 10px;
	border-radius: 20%;
	max-width: 150px;
}

.name {
	font-family: 'Bellefair', serif;
	font-size: 30px;
	margin-top: 30px;
}

.subtitle {
	margin-top: 10px;
	font-size: 20px;
}

hr {
    border: none;
    margin-top: 5px;
    height: 2px;
    background-color: #616161; /* Modern Browsers */
}

.main-color {
	color: #39606D;
}

.sub-color {
	color: #757575;	
}

.italics {
	font-style: italic;
}

.image-margin {
	padding-top: 10px;
}

#map {
    height: 500px;
    overflow: hidden;
    padding-bottom: 22.25%;
    padding-top: 30px;
    position: relative;
}

.gm-style-iw {
   font-size: 25px !important;
   font-family: 'Lato', sans-serif !important;
   text-align: center !important;
}

#mapDiv {
  position: relative;
}



